.banner {
    display:flex;
    justify-content: space-between;
    position: inherit;
    background-color: #3D4DDC;
    width: 100%;
    height: 52px;
    position: fixed;
    z-index: 1;
}
.banner img {
    flex-direction: row;
    width: 100px;
    right: 40px;
    left: 40px;
}