nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 233, 233);
    height: 40px;
    padding: 0px 10px;
    margin: 0 10px;
    border-radius: 10px;
}
.Menu {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}