nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.Menu {
    color: black;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.Menu:hover {
    transition: 1s;
    color: rgb(0, 204, 255);
    font-size: 18px;
}