.page-content-area {
    width: 100%;
    padding: 10px;
    margin-left: 100px;
    margin-top: 50px;
}
/* .page-content {
    display: flex;
    padding: 0 10px 10px 10px;
    flex-direction: column;
} */
.td-table:not(:last-child) td {
    border-bottom: 1px inset;
}